@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
}


header {
  position: relative;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top {
  position: relative;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  color: #9b9797;
}

.bottom {
  font-weight: 600;
}

span {
  color: gray;
}

.headspan {
  width: 33vw;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-position: center;
  object-position: center;
}

.card1 {
  background: white;
  width: 18rem;
  height: 8rem;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 25px;
  -webkit-box-shadow: -9px 15px 21px -10px #c8cdce;
  box-shadow: -9px 15px 21px -10px #c8cdce;
  border-color: #ea5353;
  border-radius: 9px;
  border-style: solid;
  border-width: 4px 0 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card2 {
  background: white;
  width: 18rem;
  height: 8rem;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 201px;
  /* left: 285px; */
  -webkit-box-shadow: -9px 15px 21px -10px #c8cdce;
  box-shadow: -9px 15px 21px -10px #c8cdce;
  border-color: hsl(34, 97%, 64%);
  border-radius: 9px;
  border-style: solid;
  border-width: 4px 0 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  width: 18rem;
  height: 8rem;
  -webkit-box-shadow: -9px 15px 21px -10px #c8cdce;
  box-shadow: -9px 15px 21px -10px #c8cdce;
  border-color: hsl(180, 62%, 55%);
  border-radius: 9px;
  border-style: solid;
  border-width: 4px 0 0px 0px;
}
.card4 {
  width: 18rem;
  height: 8rem;
    background: white;
  -webkit-box-shadow: -9px 15px 21px -10px #c8cdce;
  box-shadow: -9px 15px 21px -10px #c8cdce;
  border-color: hsl(212, 86%, 64%);
  border-radius: 9px;
  border-style: solid;
  border-width: 4px 0 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.text {
  font-size: 16px;
}
img {
  height: 43px;
}

.container2 {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 113px;
}
.container3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -129px;
}

@media only screen and (min-width: 240px) and (max-width: 296px) {
  .card1 {
    width: 14rem;
  }
  .card2 {
    width: 14rem;
  }
  .card3 {
    width: 14rem;
  }
  .card4 {
    width: 14rem;
  }
  h3 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 297px) and (max-width: 316px) {
  .dikkat {
    height: 28px;
  }
  h3 {
    font-size: 16px;
  }
  .card1 {
    width: 16rem;
  }
  .card2 {
    width: 16rem;
  }
  .card4 {
    width: 16rem;
  }
  .card3 {
    width: 16rem;
  }
}

@media only screen and (min-width: 200px) and (max-width: 390px) {
  .top {
    font-size: 7vw;
  }
  .bottom {
    font-size: 7vw;
  }
  .headspan {
    width: 72vw;
  }
}

@media only screen and (min-width: 391px) and (max-width: 767px) {
  .headspan {
    width: 62vw;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1500px) {
  .headspan {
    width: 37vw;
  }
  .container2 {
    margin-left: 25px;
  }
  .container3 {
    margin-right: 25px;
  }
}
@media only screen and (max-width: 887px) {
  .container2 {
    margin-top: 370px;
    justify-content: center;
  }
  .container3 {
    justify-content: center;
    margin-top: 36px;
  }
}
/*# sourceMappingURL=style.css.map */
